body,html{
    background: #2c2b2b;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 500px;
    font-family: sans-serif;
}
.Section_top{
    width: 100%;
    height: 130%;
    overflow: hidden;
    position: relative;
    background-image: url(images/image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    justify-content: center;
    animation: change 10s infinite ease-in-out;
}
.content h1{
    color: #fff;
    font-size: 60px;
    letter-spacing: 15px;
}
.content h1 span{
    color: #111;
}
.content a{
    background: #85c1ee;
    padding: 10px 24px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 20px;
}

.content a:hover{
    background: #034e88;
    color: #fff;
}
.searchbar {
    width: 85%;
    padding: 10px;
    border: none;
}
.btn-search {
    width: 15%;
    padding: 10px;
    border: none;
    background-color: orange;
}
.carousel {
    margin-top: 90px;
}
@keyframes change{
    0%
    {
        background-image: url(../assets/images/The-Dead-Dont-Die.jpg);
    }
    20%
    {
        background-image: url(../assets/images/The-Dead-Dont-Die.jpg);
    }
    40%
    {
        background-image: url(../assets/images/spiderman.jpg);
    }
    60%
    {
        background-image: url(../assets/images/spiderman.jpg);
    }
    80%
    {
        background-image: url(../assets/images/Monster\ Hunter.jpeg);
    }
    100%
    {
        background-image: url(../assets/images/Monster\ Hunter.jpeg);
    }
}

.container{
    display: flex;
}
.container_card {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.cardshows:hover {
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

/* detail */
.card{
    width: 22%;
}
.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card-text {
    text-align: justify;
}
.date, .time, .duration {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 14px;
    margin-bottom: 10px;
}
.material-icons {
    margin-right: 5px;
    color: orange;
}
.btn {
    margin-top: 8px;
    font-weight: bold;
}
hr{
    margin: auto;
    height: 3px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom:-3px;
  }
.container-Booking{
    width: -100%;
    height: 100vh;
    background-color: white;
}
.form{
    width: 35%;
    border-radius: 1%;
}
.btn-default{
    width: 30%;
    margin: auto;
    margin-bottom: 3%;
}
.checkbox{
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    font-size: larger;
}
.ckeckbox__input{
    display: none;
}
.ckeckbox__box, .ckeckbox__box1, .ckeckbox__box2, .ckeckbox__box3 {
    width: 1.50em;
    height: 1.50em;
}
.status_seats1, .status_seats2, .status_seats3{
    display: flex;
    justify-content: space-between;
}

.ckeckbox__box{
    accent-color: red;
}
.ckeckbox__box1{
    margin-right: 40px;
}
.ckeckbox__box2{
    margin-right: 4px;
}
.fa-stop{
    width: 30px;
    height: 30px;
}
.fa-selected{
    margin-right: 4px;
}
.fa-sold{
    margin-right: 5px;
}
.sold{
    margin-right: 42px;
}
.fa-available{
    margin-right: 4px;
}
.select{
    margin-right: 5px;
}

/* booking */

.payment {
    height: 100vh;
    background: url(../assets/images/cinema.jpg);
    background-size: cover;
}
.buy-info {
    margin-left: 10%;
}
.pay-now, .cancel-booking {
    border: none;
    font-weight: bold;
    color: white;
    padding: 7px 30px 7px 30px;
    border-radius: 20px;
}
.pay-now:hover {
    background-color: orange;
    color: black;
}
.cancel-booking:hover {
    background-color: orange;
    color: black;
}
/* seller view */

.showlist {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title {
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin-top: 140px;
    margin-bottom: 30px;
}
.heading {
    color: orange;
}
.btn-add {
    background-color: orange;
    border-radius: 10px;
    padding: 10px 30px 10px 30px;
    font-weight: bold;
}
.btn-add:hover {
    -ms-transform: scale(1.03);
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
    background-color: rgb(245, 181, 63);
}
.details p {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/* seller page */

.cardshows-seller {
    width: 90%;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    margin-bottom: 25px;
    background-color: white;
    border: 2px solid orange;
}
.cardshows-seller:hover {
    -ms-transform: scale(1.01);
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
}
.cardshows-seller img {
    width: 20%;
    border-radius: 10px;
}
.details {
    width: 65%;
}
.details p {
    margin: 0;
    padding: 0;
}
.theatername {
    font-size: 20px;
    font-weight: bold;
}
.description {
    text-align: justify;
    padding-right: 15px;
    line-height: normal;
}
.cost, .dates, .times, .durations {
    font-size: 14px;
}
.action {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#edit, #delete {
    width: 100%;
    padding: 10px;
    border: 2px solid orange;
    border-radius: 5px;
    color: black;
}
#delete {
    border: 2px solid red;
}
#edit:hover {
    background-color: orange;
    color: white;
}
#delete:hover {
    background-color: red;
    color: white;
}

/* addshow */

.create {
    width: 100%;
    height: 120vh;
    display: flex;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
    background: url(../assets/images/cinema.jpg);
    background-size: cover;
}
.addshow-form {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-self: center;
    color: white;
    margin-left: 10%;
    padding: 4% 3% 3% 3%;
    background-color: #3d3b3b;
}
.addshow-form h2 {
    text-align: center;
    font-weight: bold;
}
.addshow-form label {
    font-weight: bold;
}
.addshow-form input {
    padding: 5px;
    border-radius: 20px;
    border: none;
}
.cost-date, .time-duration {
    display: flex;
    justify-content: space-between;
}
.the-cost, .the-time, .the-date, .the-duration {
    width: 48%;
    display: flex;
    flex-direction: column;
}
.click-action {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.click-action button {
    padding: 5px 30px 5px 30px;
    border: none;
    border-radius: 20px;
    background-color: orange;
    color: black;
    font-weight: bold;
}
body,html{
    background: #2c2b2b;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 500px;
    font-family: sans-serif;
}
.Section_top{
    width: 100%;
    height: 130%;
    overflow: hidden;
    position: relative;
    background-image: url(images/image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    justify-content: center;
    animation: change 10s infinite ease-in-out;
}
.content h1{
    color: #fff;
    font-size: 60px;
    letter-spacing: 15px;
}
.content h1 span{
    color: #111;
}
.content a{
    background: #85c1ee;
    padding: 10px 24px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 20px;
}

.content a:hover{
    background: #034e88;
    color: #fff;
}
.searchbar {
    width: 85%;
    padding: 10px;
    border: none;
}
.btn-search {
    width: 15%;
    padding: 10px;
    border: none;
    background-color: orange;
}
.carousel {
    margin-top: 90px;
}
@keyframes change{
    0%
    {
        background-image: url(../assets/images/The-Dead-Dont-Die.jpg);
    }
    20%
    {
        background-image: url(../assets/images/The-Dead-Dont-Die.jpg);
    }
    40%
    {
        background-image: url(../assets/images/spiderman.jpg);
    }
    60%
    {
        background-image: url(../assets/images/spiderman.jpg);
    }
    80%
    {
        background-image: url(../assets/images/Monster\ Hunter.jpeg);
    }
    100%
    {
        background-image: url(../assets/images/Monster\ Hunter.jpeg);
    }
}

.container{
    display: flex;
}
.container_card {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.cardshows:hover {
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

/* detail */
.card{
    width: 22%;
}
.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card-text {
    text-align: justify;
}
.date, .time, .duration {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 14px;
    margin-bottom: 10px;
}
.material-icons {
    margin-right: 5px;
    color: orange;
}
.btn {
    margin-top: 8px;
    font-weight: bold;
}
.btn-back, .btn-book {
    padding: 5px 40px 5px 40px;
}

/* video */

.video {
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;   
}
.video iframe {
    width: 100%;
    height: 100%;
}
/* about us page */

.about-us {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #3d3b3b;
}
.about-details{
    width: 100%;
    background: url(../assets/images/bg.jpg);
    background-size: cover;
}
.info {
    width: 60%;
    align-self: flex-start;
    margin: 130px 0px 80px 0px;
    margin-left: 5%;
}
.info p {
    text-align: justify;
}
.purpose {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px 0px 50px 0px;
}
.purpose hr {
    height: 150px;
    border: 3px solid #000;
}
.items {
    width: 30%;
}
.people {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1f1d1d;
    padding-bottom: 60px;
}
.people h1 {
    align-self: flex-start;
    margin-left: 5%;
}
.staffs {
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.staff {
    width: 19%;
    display: flex;
    flex-direction: column;
}
.staff img {
    width: 100%;
    border-radius: 5px;
    border: 2px solid orange;
}
.staff:hover {
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}
/* contact us page */

.contact {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3d3b3b;
    padding: 130px 0px 80px 0px;
    color: white;
}
.message {
    width: 88%;
    display: flex;
    justify-content: space-between;
}
hr {
    border: 3px solid black;
}
.position, .form-contact {
    width: 45%;
    display: flex;
    flex-direction: column;
}
.username, .e-mail, .telephone, .topic, .chat-message {
    width: 100%;
    display: flex;
}
.label {
    width: 20%;
    font-weight: bold;
    color: orange;
}
.input {
    width: 80%;
}
.send {
    background-color: orange;
    color: white;
    padding: 10px 30px 10px 30px;
    border: none;
    margin-left: 20%;
}