body,html{
    background: #2c2b2b;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 500px;
    font-family: sans-serif;
}
.Section_top{
    width: 100%;
    height: 130%;
    overflow: hidden;
    position: relative;
    background-image: url(images/image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    justify-content: center;
    animation: change 10s infinite ease-in-out;
}
.content h1{
    color: #fff;
    font-size: 60px;
    letter-spacing: 15px;
}
.content h1 span{
    color: #111;
}
.content a{
    background: #85c1ee;
    padding: 10px 24px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 20px;
}

.content a:hover{
    background: #034e88;
    color: #fff;
}
.searchbar {
    width: 85%;
    padding: 10px;
    border: none;
}
.btn-search {
    width: 15%;
    padding: 10px;
    border: none;
    background-color: orange;
}
.carousel {
    margin-top: 90px;
}
@keyframes change{
    0%
    {
        background-image: url(../assets/images/The-Dead-Dont-Die.jpg);
    }
    20%
    {
        background-image: url(../assets/images/The-Dead-Dont-Die.jpg);
    }
    40%
    {
        background-image: url(../assets/images/spiderman.jpg);
    }
    60%
    {
        background-image: url(../assets/images/spiderman.jpg);
    }
    80%
    {
        background-image: url(../assets/images/Monster\ Hunter.jpeg);
    }
    100%
    {
        background-image: url(../assets/images/Monster\ Hunter.jpeg);
    }
}

.container{
    display: flex;
}
.container_card {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* detail */
.card{
    width: 22%;
}
.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card-text {
    text-align: justify;
}
.date, .time, .duration {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 14px;
    margin-bottom: 10px;
}
.material-icons {
    margin-right: 5px;
    color: orange;
}
.btn {
    margin-top: 8px;
    font-weight: bold;
}
.btn-back, .btn-book {
    padding: 5px 40px 5px 40px;
}