.foot {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 60px 100px 60px 100px;
    background-color: #000;
}
.foot-link {
    width: 33%;
    display: flex;
    flex-direction: column;
}
.foot-link a {
    text-decoration: none;
    color: white;
}
.foot-link a:hover {
    color: orange;
}
.fa {
    font-size: 30px;
    color:white;
    margin-right: 7px;
}
li a {
    text-decoration: none;
}

