body {
    width: 100%;
    height: 100vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: url(../../assets/images/background.jpg);
    background-size: cover;
    display: flex;
    justify-content: space-between;
    font-family: sans-serif;
    flex-direction: column;
}
.small {
    text-align: center;
}
form, .form {
    margin-top: 50px;
    width: 45%;
    display: flex;
    flex-direction: column;
    color: white;
    align-self: center;
    justify-content: center;
}

/* .form {
    width: 30%;
    height: 80vh; 
} */

h1 {
    text-align: center;
}
.username {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.firstname, .lastname {
    width: 47%;
}
form input {
    width: 100%;
    padding: 5px;
    border-radius: 20px;
    box-sizing: border-box;
    border: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#login, #signup {
    width: 100%;
    padding: 5px;
    margin: 30px 0px 10px 0px;
    background-color: yellow;
    color: black;
    border: none; 
    border-radius: 30px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#ask {
    text-align: center;
}