body{
    font-family: sans-serif;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form{
    width: 35%;
    border: 2px solid;
    padding: 30px;
    background:#ffff;
    border-radius: 15px;
}

h2{
    text-align: center;
    margin-bottom: 20px;
}
input{
    display: block;
    border: 2px solid #ccc;
    padding: 10px;
    width: 95%;
    margin: 10px auto;
    border-radius: 5px;
}
label{
    color: #888;
    font-size: 15px;
}
button{
    float:right;
    background: #555;
    padding: 10px 15px;
    color: #fff;
    border-radius: 5px;
    margin-right: 10px;
    border: none;
}
button:hover{
    opacity: 7;
}
